<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="text-center col-lg-12">
        <form class="form-signin">
            <h1 class="form-signin-heading">Welcome to BigTheta</h1>
            <p>
                <app-google-login></app-google-login>
            </p>

            <small class="text-white">Or sign in with BigTheta service</small>
            <br>
            <br>

            <input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
            <input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">

            <script id="metamorph-22-start" type="text/x-placeholder"></script>
            <script id="metamorph-22-end" type="text/x-placeholder"></script>

            <div class="form-inline btn-center">
                <button class="btn btn-lg btn-primary btn-block col-md-4" type="submit">Sign in</button>
                <button class="btn btn-lg btn-info col-md-4" style="margin-left:5px" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>