<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="text-center col-lg-12">
        <form class="form-signin">
            <h1 class="form-signin-heading">Welcome to Big Theta</h1>
            <div>
            <table class="table">
                <tr class="row">
                    <app-google-login></app-google-login>
                </tr>
                <tr class="row">
                    <app-fb-login></app-fb-login>
                </tr>
            </table>
            </div>
        </form>
    </div>
</div>