<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="text-center col-lg-12">
        <form class="form-signin">
            <h1 class="form-signin-heading">Welcome to BigTheta</h1>
            <div>
            <table class="table">
                <tr class="row">
                    <app-google-login></app-google-login>
                </tr>
                <tr class="row">
                    <app-fb-login></app-fb-login>
                </tr>
            </table>
            </div>

            <small class="text-white">Or sign in with BigTheta service</small>
            <br>
            <br>

            <input class="form-control login-input" placeholder="Email Address" type="text">
            <input class="form-control login-input-pass" placeholder="Password" type="password">

            <div class="form-inline btn-center">
                <button class="btn btn-lg btn-primary btn-block col-md-4" type="submit">Sign in</button>
                <button class="btn btn-lg btn-info col-md-4" style="margin-left:5px" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>