<div class="container math-list">

  <mat-spinner class="spinner" [class.d-none]="!isLoading" mode="indeterminate"></mat-spinner>

  <ul class="list-group" [class.invisible]="isLoading">

    <li #listVar id="style-3" *ngFor="let equation of equationList  let i=index"
        class='list-group-item'
        (mouseenter)="setListElem_CSS(listVar,'active',true)"
        (mouseleave)="setListElem_CSS(listVar,'active',false)">

      <div (click)="emitLatexEquation(equation)" [class.clickable]="showTitle"
           [class.not_clickable]="!showTitle">

        <ng-container *ngIf="showTitle">
          <span class="equationTitle">{{extractTitle(i)}}</span>
        </ng-container>

        <app-math-element [equation]="equation"


                          (typesetFinished)="OnFinishTypesetting($event)"
        ></app-math-element>
      </div>
    </li>
  </ul>
</div>

<!--(OnClick)="emitLatexEquation($event)"-->
