
.math-list {

  padding-left: 0;
  padding-right: 0;

}

.equationTitle{
  font-weight:bold;
}

ul {


}


li {

  font-size: x-small;
  overflow-x: hidden;
  overflow-y: hidden;

}


li:hover {
  font-size: small;
  overflow-x: auto;
}


#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  height: 8px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

