
.math-list {

  max-width: 350px;
  padding-left: 0;
  padding-right: 0;

}

.equationTitle{
  font-weight:bold;
}

ul {


}


li {
  font-size: x-small;
  overflow-x: hidden;
  overflow-y: hidden;

}


li:hover {
  font-size: small;
  overflow-x: auto;
}
