.equationRank {
  /*border: 3px solid darkviolet;*/
  max-width: 300px;
  display: inline-block;
}

.equationRank_title {
  margin-bottom: 15px;

}

.rank_list {
  max-height: 80vh;
  overflow-y: auto;

}



#style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;

}

#style-5::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb {
  background: #0ae -webkit-gradient(linear, 0 0, 0 100%,
  color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.5, transparent), to(transparent));
}

