.container-fluid {
    padding-top: 10px;
}

.api-endpoint-card .card-body:not(:first-of-type) {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.api-endpoint-card .card-text {
    margin-bottom: 1em;
}

.api-endpoint-card .card-text pre {
    margin-top: 5px;
}

.api-endpoint-card .card-text > code {
    margin-left: 15px;
}