.api-endpoint-card .card-text {
    margin-bottom: 1em;
}

.api-endpoint-card .card-text pre {
    margin-left: -65px;
    margin-top: -15px;
}

.api-endpoint-card .card-text > code {
    margin-left: 15px;
}