.container-fluid {
    padding-top: 10px;
}

.searchBox {
    padding-left: 35%;
    padding-top: 20px;
}

.equation_rank{
  max-width: 250px;
  min-width: 220px;
  margin-top: 5vh;
  float:left;
}

.eqn_rank_title{
  min-width: 220px;
  max-width: 250px;
  border-bottom: 3px solid silver;
  margin-bottom: 15px;
}

.graph_display{
  float: right;

}

.form-group{
  width: 50%;
  margin: 0 auto;
}