<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="../assets/images/theta_logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Big Theta
  </a>
  <div class="navbar-nav">
    <a href="/" class="nav-item nav-link active">Home</a>
    <a href="info" class="nav-item nav-link">About</a>
    <a href="api" class="nav-item nav-link">API</a>
    <a href="/" class="nav-item nav-link">Logout</a>
  </div>
</nav>
<div class="content-container container-fluid">
  <router-outlet></router-outlet>
</div>